* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}



#tianjia {
  width: 1200px;
  // height: 1200px;
  border: 1px solid gray;
  margin: 0 auto;

  ul {
    width: 100%;
    // height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      padding: 20px;
      border: 1px solid rgba(244, 244, 244);
      width: 238px;
      float: left;

      div {
        p {
          font-size: 12px;
          color: #551a8b;
        }

        p:nth-child(3) {
          margin-top: 10px;
          display: flex;
          justify-content: space-between;

          span:nth-child(1) {
            color: red;
            font-size: 24px;
          }

          span:nth-child(2) {
            line-height: 36px;
          }
        }
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
.paixu{
  width:1200px;
  height: 24px;
  // background-color: red;
  div{
    float: left;
    border: 1px solid gray;
    margin-right: 10px;
    user-select: none;

  }
  margin: 0 auto;
}
.pagelist {
    clear: both;
  
    margin:0 auto;
    text-align: right;
    padding-right:20px;
    .m-style {
      float: right;
      text-align: center; 
  }
  
  .m-style:before,
  .m-style:after {
      content: "";
      display: table;
  }
  
  .m-style:after {
      clear: both;
      overflow: hidden;
  }
  
  .m-style span {
      float: left;
      margin: 0 5px;
      width: 38px;
      height: 38px;
      line-height: 38px;
      color: #bdbdbd;
      font-size: 14px;
  }
  
  .m-style .active {
      float: left;
      margin: 0 5px;
      width: 38px;
      height: 38px;
      line-height: 38px;
      background: #e91e63;
      color: #fff;
      font-size: 14px;
      border: 1px solid #e91e63;
  }
  
  .m-style a {
      float: left;
      margin: 0 5px;
      width: 38px;
      height: 38px;
      line-height: 38px;
      background: #fff;
      border: 1px solid #ebebeb;
      color: #bdbdbd;
      font-size: 14px;
  }
  
  .m-style a:hover {
      color: #fff;
      background: #e91e63;
  }
  
  .m-style .next,
  .m-style .prev {
      font-family: "Simsun";
      font-size: 16px;
      font-weight: bold;
      width:80px;
  }
  
  .now,
  .count {
      padding: 0 5px;
      color: #f00;
  }
  
  .eg img {
      max-width: 800px;
      min-height: 500px;
  }
  
  input {
      float: left;
      margin: 0 5px;
      width: 38px;
      height: 38px;
      line-height: 38px;
      text-align: center;
      background: #fff;
      border: 1px solid #ebebeb;
      outline: none;
      color: #bdbdbd;
      font-size: 14px;
  }
}
